* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

/* Nav bar  */

li {
    list-style: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 2em;
}

.logo {
    max-width: 100px;
}

.menu {
    display: flex;
    gap: 4em;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Categories strip  */

.categories-strip {
    background-color: #FFDADA;
    font-weight: 600;
    font-size: smaller;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

/* Hero image */

.hero-section {
    margin-top: -0.4em;
    background-image: url(images/hero.png);
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.cta-section {
    margin-right: 3em;
    text-align: center;
    padding: 4em;
}

h1 {
    font-size: 40px;
}

.subtitle {
    margin-top: 20px;
    font-size: smaller;
}

/* Button to add hover state*/

.cta {
    margin-top: 20px;
    padding: 8px 50px;
    background-color: rgb(18, 18, 18);
    color: white;
    font-weight: 600;
    border: 0px;
}

/* Product slide  */

.products-section {
    margin: 1em 2em;
    margin-top: 3em;
}

.products-title h2 {
    font-weight: 500;
}
.link {
    text-decoration: underline;
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.arrow-imgs {
    max-width: 30px;
    margin-left: 8px;
}

.product-card img {
    max-width: 14em;
}

.product-card {
    display: flex;
    flex-direction: column;
    max-width: 14em;
    gap: 8px;
}

.price {
    font-weight: 600;
}

.add-to-cart {
    padding: 8px;
    background-color: rgb(18, 18, 18);
    color: white;
    font-weight: 600;
    border: 0px;
}

.product-slider {
    display: flex;
    gap: 2em;
}


